*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(121, 175, 222);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: cadetblue;
    padding: 22px;
    top: 0%;
    width: 100%;
    position: fixed;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 20px;
    margin-inline: 20px;
    color: black;
}
ul li a:hover{
    color: aqua;
    border-bottom: 2px solid blue;
}
.icons{
    display: flex;
    align-items: center;
}
.icons button:hover{
    color: black;
    background-color: aliceblue;
}
#bar{
    display: none;
}
.icons button{
    width: 80px;
    height: 28px;
    border: none;
    background-color: coral;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 22px;
}
.logo{
    font-size: 22px;

}
.main{
    display: flex;
    justify-content: center;
    margin-top: 132px;
}
.mainText{
    margin-top: 111px;
}
.main img{
    width: 700px;
}
.mainText h1{
    font-size: 35px;
}
.mainText p{
    margin-top: 33px;
    font-size: 15px;
    display: block;
}
.mainText button{
    width: 140px;
    height: 40px;
    background-color: rgb(195, 70, 17);
    color: white;
    
}
.head{
    text-align: center;
    padding: 80px;
}
.head span{
    color: blue;
}
.places{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.placeCard{
    width: 300px;
    height: 300px;
    background-color: azure;
    border-radius: 4px;
    margin-inline: 20px;
}
.placeCard img{
    width: 100%;
    height: 200px;
    border-radius: 4px;
}
.placeCard p{
    margin-top: 11px;
    margin-left: 11px;
}
.packages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.packages .card{
    width: 300px;
    height: 310px;
    background-color: aliceblue;
    margin-inline: 20px;
}
.card img{
    width: 100%;
    height: 190px;
}
.card p{
    margin-top: 11px;
    margin-left: 11px;
}
.card button{
    margin-top: 11px;
    margin-left: 11px;
    background-color: blue;
    color: wheat;
    border: none;
    font-size:18px;
    border-radius: 25px;
    padding: 4px;
}
.reviews{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.reviews.reviewCard{
    width: 300px;
    height: 250px;
    background-color: aliceblue;
    margin-inline: 20px;
    align-items: center;
}
.reviewCard img{
    width: 50%;
    height: 50%;
}
.reviewCard p{
    margin-top: 11px;
    margin-left: 11px;
}
.loginPage{
    display: none;
}
.active{
    display: block;
    width: 240px;
    background-color: aliceblue;
    text-align: center;
    padding: 11px;
    position: fixed;
    top:75px;
    right: 4%;
}
.active input{
    width: 90%;
    font-size: 17px;
    padding: 5px;
    margin-top: 11px;
}
.active button{
    width: 90px;
    height: 28px;
    background-color: blue;
    color: beige;
    font-size: 18px;
    margin-top: 22px;
    border: none;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 55px;
    margin-top: 77px;
    background-color: black;
    color: aliceblue;
}
.text p{
    margin-top: 12px;
}
.showData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 75px;
    right: 4%;
    background-color: aliceblue;
    padding: 22px;
    gap: 22px;
}

@media screen and (max-width:1100px){
    .main{
        display: block;
        text-align: center;
    }
    .main img{
        right: 224px;
    }
}
@media screen and (max-width:800px){
    .main img{
        right: 95px;
    }
    ul{
        display: none;
    }
    #bar{
        display: block;
        font-size: 25px;
        margin-inline: 11px;
    }
    .reviewCard img{
        width: 22%;
        height: 150px;
    }
}
@media screen and (max-width:550px){
    .main i{
        font-size: 450px;
    }
    .main img{
        right: 33px;
        margin-top: 20px;
    }
    .mainText h1{
        font-size: 33px;
    }
}
@media screen and (max-width:480px){
    .main i{
        font-size: 350px;
    }
    .main img{
        width: 96%;
    }

}